<link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}" />

{% assign has_math = false %} {% if page.content contains '$' or page.content
contains '\(' or page.content contains '\[' or page.content contains '\begin{'
%} {% assign has_math = true %} {% endif %} {% if has_math %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [
        ["$", "$"],
        ["\\(", "\\)"],
      ],
      displayMath: [
        ["$$", "$$"],
        ["\\[", "\\]"],
      ],
      processEscapes: true,
    },
  };
</script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
{% endif %}
